.checkbox-md .checkbox-checked {
    border-color: #c68d2c;
    background-color: #c68d2c;
}

page-login-user{
    img {
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
    }
}
