.tabs-md .tab-button[aria-selected=true] {
    color: #c68d2c;
    padding: 0;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #c68d2c;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

page-mosquelogin{
    // img {
    //     border-radius: 50%;
    //     overflow: hidden;
    //     width: 100px;
    //     height: 100px;
    // }
}