<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="header" padding>

  <ion-card *ngIf="view === 0 || view === '0'">

      <ion-item>
          <ion-label floating>Enter Confirmation Code</ion-label>
          <ion-input type="number" [(ngModel)]="con_code"></ion-input>
        </ion-item>

        <div align="center">
          <button ion-button color="light" round outline (click)="check()" class="login" style="width: 94%">Check</button>
        </div>


  </ion-card>


  <ion-card *ngIf="view === 1 || view === '1'">

      <ion-item>
          <ion-label floating>Enter New Password</ion-label>
          <ion-input type="text" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="text" [(ngModel)]="con_password"></ion-input>
          </ion-item>

          <button ion-button color="light" round outline (click)="updatePass()" class="login" style="width: 94%">Update Password</button>

  </ion-card>

</ion-content>
